*{
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0 50px;
}

nav{
    display: flex;
    padding: 0 30px; 
    min-height: 7dvh;
}

/* section,div,nav{
    border: 0.5px solid black;
} */

.nav-section{
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight: 600;
    letter-spacing: -0.05em;
}

.board{
    display: flex;
    padding: 30px 30px; 
    min-height: 80dvh;
    overflow: auto;
    border-radius: 12px;
    border: 0.5px solid black;
    background-color: #E9EAEC;
}

.list{
    margin: 20px 10px;
    min-width: 15em;
    height: fit-content;
    min-height: 7em;
    border-radius: 12px;
    border: 0.5px solid black;
    padding: 1em;
    padding-bottom: 0.7em;
    background-color: white;
}

.list-title{
    font-weight: 600;
    letter-spacing: -0.04em;
    font-size: 0.9em;
}

.list-items{
    margin: 5px auto;
    min-height: 50px;
    height: fit-content;
    border-radius: 8px;
    padding-bottom: 1em;
}

.card{
    border-radius: 8px;
    border: 0.5px solid black;
    padding: 0.5em 0.7em;
    font-size: 0.9em;
    letter-spacing: -0.03em;
    margin: 0.5em auto;
    background-color: white;
    cursor: grab;
}

.card-p1{
    border-color: #f87171;
    border-top-width: 6px;
}
.card-p2{
    border-color: #facc15;
    border-top-width: 6px;
}
.card-p3{
    border-color: #4ade80;
    border-top-width: 6px;
}