*{
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    padding: 0 55px 0 50px;
    display: flex;
    min-height: 7dvh;
    justify-content: space-between;
}

.nav-button{
    opacity: 50%;
    margin: auto 1em;
}

.nav-button:hover{
    opacity: 100%;
}

.nav-section{
    display: flex;
    align-items: center;
}

.nav-title{
    cursor: pointer;
    font-weight: 600;
    letter-spacing: -0.05em;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.board{
    margin: 0 50px;
    display: flex;
    padding: 30px 30px; 
    min-height: 80dvh;
    overflow: auto;
    border-radius: 12px;
}

.board-add{
    display: flex;
}

.list{
    margin: 20px 10px;
    min-width: 15em;
    height: fit-content;
    min-height: 7em;
    border-radius: 12px;
    padding: 1em;
    padding-bottom: 0.3em;
    background-color: white;
}

.list-title{
    font-weight: 600;
    letter-spacing: -0.04em;
    font-size: 0.9em;
}

.list-items{
    margin: 5px auto;
    min-height: 50px;
    height: fit-content;
    border-radius: 8px;
    padding-bottom: 1em;
}

.card{
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 0.5px solid black;
    padding: 0.5em 0.7em;
    font-size: 0.9em;
    letter-spacing: -0.03em;
    margin: 0.5em auto;
    background-color: white;
    cursor: grab;
}


.card-p1{
    border-color: #f87171;
    border-top-width: 6px;
}
.card-p2{
    border-color: #facc15;
    border-top-width: 6px;
}
.card-p3{
    border-color: #4ade80;
    border-top-width: 6px;
}

.backdrop{
    display: flex;
    top: 0;
    position: absolute;
    z-index: 2;
    height: 100dvh;
    width: calc(100vw - (100vw - 100%));
    background-color: #9ca3afb6;
}

.hidden{
    display: none !important;
}

.dialog-box{
    background-color: white;
    margin: auto;
    min-height: 10dvh;
    min-width:30dvw;
    border-radius: 12px;
    margin-top: 10em;
}

.dialog-header{
    display: flex;
    margin: 1.5em 2em;
    justify-content: space-between;
    align-items: center;
}

.dialog-title{
    font-weight: 600;
    font-size: 1.05em;
    letter-spacing: -0.04em;
}

.dialog-close{
    display: flex;
    font-size: 1.35em;
    align-items: center;
}

.dialog-close:hover{
    opacity: 50%;
}

.dialog-content{
    margin: 1.5em 2em;

}

.dialog-btns{
    display: flex;
    justify-content: flex-end;
    margin-top:1em;
}

.btn{
    margin-top:1em;
    margin-left:1em;
    background-color: #6b7280;
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: -0.03em;
    padding:0.5em 0.8em;
    border-radius: 5px;
    text-align: center;
    min-width: 50px;
}

.btn:hover{
    cursor: pointer;
    background-color: #374151;
}

.dialog-item-title{
    font-size: 0.9em;
    letter-spacing: -0.03em;
    margin-bottom: 0.3em;
    margin-top: 1.2em;
}

.dialog-item-content input{
    width: 350px;
    font-size: 1em;
    padding:0.2em 0.5em;
}

.add-list{
    display: flex;
    margin: 20px 10px;
    min-width: 7em;
    min-height: calc(7em - 2*2px);
    height: 8.2em;
    border-radius: 12px;
    padding: 1em;
    padding-bottom: 0.7em;
    background-color: white;
    opacity: 30%;
    border:2px dashed #374151;
    transition:0.3s;
}

.add-list:hover{
    opacity: 80%;
}

.add-icon{
    margin: auto;
    font-size: 2em;
}

.dialog-color-section{
    display: flex;
    margin-top: 0.5em;
}

.color-item{
    margin-right:0.7em;
    width:20px;
    height:20px;
    border-radius: 20px;
}

.selected-color{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.add-card{
    margin-bottom: 0.6em;
}

.card-input{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.card-input input{
    border-style: dashed;
    border-radius: 7px;
    border-width: 1px;
    font-size: 0.9em;
    padding: 0.4em 0.7em;
    max-width: 190px;
    letter-spacing: -0.03em;
}

.card-input input:active{
    border:inherit;
}

.card-add-button{
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-justify: center;
    opacity: 30%;
    font-size:1.3em;
}

.card-add-button:hover{
    opacity: 100%;
}

.priority-input{
    display: flex;
    font-size: 0.8em;
    margin-top:0.5em;
    letter-spacing: -0.02em;
}

.priority-text{
    margin-right:0.3em;
}

.priority-options{
    display: flex;
    margin-top: 0.3em;
}

.priority-item{  
    cursor: pointer;  
    margin-right: 0.6em;
    padding:0.2em 0.5em;
    background-color: #9ca3af;
    color:white;
    border-radius: 5px;
}

.priority-item:hover{
    background-color: #6b7280;
}

.priority-item-selected{
    font-weight: bold;
    background-color: #4b5563;
}

.priority-radio{
    visibility: hidden;
}

label{
    height: fit-content;
}

.list-header{
    display: flex;
    justify-content: space-between;
}

.list-action-buttons{
    display: flex;
}

.list-action, .card-action{
    margin-left:0.2em;
    padding:0.2em;
    opacity: 30%;
}

.list-action:hover, .card-action:hover{
    opacity: 100%;
    cursor: pointer;
}

.action-key{
    font-size: 0.8em;
}

.card-action{
    margin-top: -0.4em;
    padding-top: 0.5em;
}

.card-actions{
    display: flex;
}

.card-actions span{
    display: flex;
}

.card-content{
    margin-top: 0.15em;
}

#card-action-option-delete-accept,#list-action-option-delete-accept{
    color:#f87171;
}
#card-action-option-edit-accept,#list-action-option-edit-accept{
    color:#4ade80;
}

#card-action-option-delete-discard, #list-action-option-delete-discard{
    color:#4ade80;
}
#card-action-option-edit-discard, #list-action-option-edit-discard{
    color:#f87171;
}

.list-action-buttons{
    display: flex;
}

.list-action-buttons span{
    display: flex;
    align-items: center;
}

.mobile-backdrop{
    display: flex;
    top: 0;
    position: absolute;
    z-index: 2;
    height: 100dvh;
    width: calc(100vw - (100vw - 100%));
    background-color: white;
}


.mobile-message{
    width: 500px;
    margin: auto;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.03em;
}